body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}

a {
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color:  #0082f3;
  text-decoration: underline;
}

a:hover {
  color: #000;
}


img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

.hero-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section.about-page {
  position: relative;
  padding-top: 0px;
  padding-bottom: 220px;
  background-image: url('../images/adventure-calm-clouds-dawn-414171.jpg');
}

.hero-section.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/laptop-desk.jpg');
  background-position: 50% 50%;
}

.hero-section.portfolio-hero {
  max-height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 200px;
  padding-bottom: 220px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(85, 172, 238, 0.41)), to(rgba(85, 172, 238, 0.41)));
  background-image: linear-gradient(180deg, rgba(85, 172, 238, 0.41), rgba(85, 172, 238, 0.41));
}

.hero-section.blog-post-hero {
  padding-bottom: 150px;
}

.hero-section.home-page-hero {
  padding-top: 0px;
  background-image: none;
}

.nav {
  position: static;
  left: 0px;
  top: auto;
  right: 0px;
  bottom: auto;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 1px;
  border-color: #a5a5a5;
  background-color: #fff;
  color: #fff;
  -o-object-fit: none;
  object-fit: none;
}

.logo-text {
  margin-top: 11px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  margin-top: 3px;
}

.nav-link {
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #000;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #0082f3;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.top-section.home-page {
  background-color: #fff;
}

.section.gray-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececec;
}

.hero-container {
  position: relative;
  top: -70px;
  padding: 5px;
  background-color: #fff;
}

.hero-container.project-container {
  padding: 10px;
}

._60block {
  width: 100%;
  height: 300px;
  padding: 5px;
  float: left;
}

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/photo-of-pitched-dome-tents-overlooking-mountain-ranges-1687845.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image.hire {
  background-image: url('../images/me.jpg');
  background-size: cover;
}

.tile-text {
  position: absolute;
  left: 25px;
  bottom: 24px;
  z-index: 20;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
}

._40block {
  position: relative;
  width: 50%;
  height: 300px;
  padding: 5px;
  float: left;
}

._33block {
  width: 50%;
  height: 300px;
  padding: 5px;
  float: left;
}

.social-block {
  width: 50%;
  height: 145px;
  float: left;
  background-color: #55acee;
  background-image: url('../images/twitter.svg');
  background-position: 50% 50%;
  background-size: 50px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #3765a3;
  background-image: url('../images/facebook.svg');
  background-size: 50px;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.pinterest {
  background-color: #c92228;
  background-image: url('../images/pinterest.svg');
  background-size: 50px;
}

.social-block.pinterest:hover {
  background-color: #aa1217;
}

.social-block.dribbble {
  display: inline-block;
  background-color: #e04c86;
  background-image: url('../images/dribbble.svg');
  background-size: 50px;
}

.social-block.dribbble:hover {
  background-color: #c02c67;
}

.footer-section {
  padding-top: 23px;
  padding-bottom: 23px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #2a2a2a;
}

.tile-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: #55acee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.small-divider.dark-divider {
  background-color: #000;
}

.contact-text {
  margin-bottom: 20px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.hero-overlay {
  position: fixed;
  left: 0px;
  top: -29px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-color: transparent;
  text-align: left;
}

.cta-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #3bc984;
  text-align: center;
}

.cta-heading {
  margin-bottom: 18px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  background-color: #19975a;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 14px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #088347;
  color: #fff;
}

.project-image {
  height: 250px;
  border-radius: 3px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.project-image:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.project-block {
  padding: 8px;
}

.project-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.project-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 9px 10px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-link {
  display: block;
  overflow: hidden;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #333;
  text-decoration: none;
}

.project-link:hover {
  color: #55acee;
}

.project-link.blog-link {
  height: 340px;
}

.project-link.blog-link:hover {
  color: #333;
}

.alternate-image {
  height: 360px;
  margin-bottom: 15px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.project-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.blog-block {
  position: relative;
  padding: 10px;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-title {
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.blog-description {
  margin-bottom: 10px;
  color: #666;
}

.blog-date {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 10;
  color: #fff;
}

.blog-author {
  display: inline-block;
  margin-right: 3px;
  color: #888;
  font-style: italic;
}

.blog-category {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 7px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  line-height: 14px;
}

.blog-post-wrapper {
  padding-top: 30px;
}

.blog-details {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
}

.hero-text-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
}

.author-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  text-align: center;
}

.author-image {
  width: 150px;
  margin-bottom: 5px;
  border-radius: 200px;
}

.author-name {
  color: #444;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.author-bio {
  color: #666;
  font-size: 17px;
  line-height: 23px;
}

.home-page-heading {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0px;
  text-transform: none;
}

.tile-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.blog-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-bottom: 10px;
}

.hero {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-container {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-image-mask {
  width: 100%;
  max-width: 50px;
  margin-left: 40px;
}

.hero-image {
  height: 100%;
  max-width: 80%;
  margin-left: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0.5 auto;
  -ms-flex: 0 0.5 auto;
  flex: 0 0.5 auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  max-width: 400px;
  margin-top: 100px;
  color: #000;
  font-size: 50px;
  text-align: left;
}

.paragraph {
  width: 651.4375px;
  max-width: 800px;
  min-width: 200px;
  font-size: 40px;
  line-height: 70px;
}

.heading-2 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  font-weight: 700;
}

.container {
  display: block;
}

.paragraph-2 {
  max-width: 75vw;
}

.body {
  margin-top: 130px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.image {
  margin-right: auto;
  margin-left: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.section-2 {
  max-width: 1300px;
  min-width: 90px;
  margin-right: auto;
  margin-left: auto;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-form-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.button-2 {
  border-radius: 7px;
  background-color: #3bc984;
}

.image-2 {
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  background-color: rgba(85, 172, 238, 0.61);
}

.heading-3 {
  padding-top: 140px;
  padding-bottom: 0px;
}

.image-3 {
  position: relative;
  left: auto;
  top: 140px;
  z-index: 10;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  float: none;
  clear: none;
}

.paragraph-3 {
  position: relative;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.paragraph-4 {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-2 {
  margin-left: 60px;
}

.column-2 {
  padding-left: 0px;
}

.div-block-3 {
  max-width: 400px;
  margin-left: 220px;
}

.heading-4 {
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  text-align: center;
}

.image-4 {
  max-width: 500px;
}

.div-block-4 {
  max-width: 50%;
}

.cards-section {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: hsla(0, 0%, 100%, 0.35);
}

.centered-container {
  margin-bottom: 3px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  margin-bottom: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.paragraph-5 {
  line-height: 40px;
  text-align: center;
}

.paragraph-6 {
  line-height: 40px;
  text-align: center;
}

.paragraph-7 {
  line-height: 40px;
  text-align: center;
}

.heading-5 {
  text-align: center;
}

.heading-6 {
  text-align: center;
}

.heading-7 {
  text-align: center;
}

.paragraph-8 {
  max-width: 40px;
}

.button-3 {
  margin-right: auto;
  margin-bottom: 140px;
  margin-left: 550px;
}

.call-to-action {
  padding-top: 40px;
  padding-bottom: 100px;
  background-color: #fff;
}

.paragraph-9 {
  margin-top: 100px;
}

.heading-8 {
  margin-bottom: 60px;
}

.button-4 {
  margin-top: 60px;
  border-radius: 9px;
  font-size: 18px;
}

.div-block-5 {
  max-width: 900px;
}

.slide {
  background-image: url('../images/photo-of-pitched-dome-tents-overlooking-mountain-ranges-1687845.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide-2 {
  background-image: url('../images/Final-Project-.jpg');
  background-position: 0px 0px;
  background-size: 960px 540px;
  -o-object-fit: fill;
  object-fit: fill;
}

.slider {
  max-height: 540px;
  max-width: 960px;
  min-height: 550px;
  margin-right: auto;
  margin-left: auto;
}

.slide-3 {
  background-image: url('../images/Final-Project--1.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.slider-2 {
  background-image: url('../images/Final-Project--1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slider-3 {
  min-height: 600px;
}

.slide-4 {
  background-image: url('../images/Final-Project--1.jpg');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: repeat;
}

.heading-9 {
  color: #000;
  font-size: 36px;
  text-align: center;
}

.container-2 {
  margin-top: 100px;
  text-align: center;
}

.container-3 {
  margin-top: 60px;
}

.image-5 {
  margin-left: 25px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 0px;
}

.image-6 {
  border: 1px solid #000;
}

.image-7 {
  border: 1px solid #000;
}

.image-8 {
  border: 1px solid #000;
}

.image-9 {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}

.image-10 {
  margin-left: 100px;
  border: 1px solid #000;
}

.image-11 {
  border: 1px solid #000;
}

.button-5 {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 9px;
  font-size: 18px;
  text-align: left;
}

.paragraph-11 {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
}

.paragraph-12 {
  margin-top: 40px;
  margin-bottom: 150px;
}

.paragraph-13 {
  margin-top: 40px;
  text-align: left;
}

.div-block-6 {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.image-12 {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.container-4 {
  margin-right: auto;
  margin-left: auto;
}

.bold-text {
  color: #3765a3;
  text-decoration: underline;
}

.bold-text-2 {
  color: #3765a3;
  text-decoration: underline;
}

.bold-text-3 {
  color: #3765a3;
  text-decoration: underline;
}

.bold-text-4 {
  color: #3765a3;
  text-decoration: underline;
}

.bold-text-5 {
  color: #3765a3;
  text-decoration: underline;
}

.cards-section-2 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cards-grid-container-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 0.25fr;
  grid-template-columns: 1fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.image-13 {
  margin-top: 20px;
  border: 1px solid #000;
}

.image-14 {
  border: 1px solid #000;
}

.columns {
  margin-top: 20px;
}

.list-item {
  text-align: left;
}

.list-item-2 {
  text-align: left;
}

.list-item-3 {
  text-align: left;
}

.list {
  margin-bottom: 40px;
  list-style-type: square;
}

.list-item-4 {
  text-align: left;
}

.list-item-5 {
  text-align: left;
}

.list-2 {
  margin-bottom: 60px;
}

.heading-10 {
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 36px;
}

.heading-11 {
  font-size: 24px;
}

.heading-12 {
  font-size: 24px;
}

.heading-14 {
  margin-top: 140px;
  font-size: 36px;
}

.section-3 {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #5c5c5c;
}

.section-3.footer {
  padding: 35px 20px;
}

.footer-logo {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.social-footer-wrap {
  padding-right: 40px;
  text-align: left;
}

.footer-social-link {
  margin-left: 24px;
  opacity: 0.2;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.footer-social-link:hover {
  opacity: 0.77;
}

.text-block {
  text-align: center;
  margin-bottom: 30px;
}

.no-padd-section.border {
  border: 1px solid #000;
}

.previous-column {
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #000;
  text-align: right;
}

.next-prev-link {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.next-prev-link:hover {
  color: #404040;
}

.next-column {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
}

.div-block-7 {
  margin-left: 0px;
}

.button-6 {
  margin-top: 60px;
  border-radius: 9px;
  font-size: 18px;
}

.div-block-8 {
  max-width: 100%;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature-image-mask {
  width: 100%;
  margin-right: 40px;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.columns-2 {
  max-width: 100px;
}

.image-17 {
  margin-top: 60px;
  margin-left: 140px;
}

.paragraph-15 {
  margin-top: 40px;
}

.image-18 {
  margin-top: 220px;
  margin-left: 40px;
}

.div-block-9 {
  clear: left;
}

.heading-15 {
  margin-top: 60px;
  font-size: 48px;
}

.heading-16 {
  margin-left: 140px;
  text-align: left;
}

.text-block-2 {
  border-left: 1px solid #000;
}

.call-to-action-2 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.heading-17 {
  color: #000;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
}

.paragraph-16 {
  margin-top: 40px;
  margin-bottom: 140px;
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  text-decoration: none;
}

.button-7 {
  margin-top: 40px;
  border-radius: 9px;
  font-size: 18px;
}

.div-block-10 {
  max-width: 500px;
}

.div-block-11 {
  max-width: 500px;
  float: right;
  clear: none;
}

._33block-2 {
  width: 50%;
  height: 300px;
  padding: 5px;
  float: left;
}

._40block-2 {
  position: relative;
  width: 50%;
  height: 300px;
  padding: 5px;
  float: left;
}

.design-challenge {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/laptop-mockup-scene2x.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.design-challenge:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.design-challenge.hire {
  background-image: url('../images/design-challenge.jpeg');
}

._60block-2 {
  width: 50%;
  height: 300px;
  padding: 5px;
  float: left;
}

.button-8 {
  margin-top: 0px;
  margin-bottom: 100px;
  border-radius: 9px;
  font-size: 18px;
}

.tile-image-2-copy {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/magazine-and-iphone-mockup-scene2x.jpeg');
  background-position: 50% 60%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image-2-copy:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image-2-copy.hire {
  background-image: url('../images/laptop-desk.jpg');
}

.tile-image-3-copy {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/stars.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.tile-image-3-copy:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tile-image-3-copy.hire {
  background-image: url('../images/laptop-desk.jpg');
}

.coming-soon-copy {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/adventure-calm-clouds-dawn-414171.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.coming-soon-copy:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.coming-soon-copy.hire {
  background-image: url('../images/me.jpg');
}

.design-challenge-copy {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/arts-build-close-up-commerce-273230.jpg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
}

.design-challenge-copy:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.design-challenge-copy.hire {
  background-image: url('../images/laptop-desk.jpg');
}

.column-3 {
  margin-top: 60px;
}

.heading-18 {
  margin-bottom: 10px;
  line-height: 24px;
}

.heading-19 {
  line-height: 24px;
}

.paragraph-17 {
  margin-bottom: 40px;
}

.image-19 {
  padding-top: 80px;
  padding-left: 60px;
}

.hero-overlay-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  max-height: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/crates-mounted-on-wall-1090638.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/crates-mounted-on-wall-1090638.jpg');
  background-position: 0px 0px, 0% 60%;
  background-size: auto, cover;
  color: #fff;
}

.centered-container-2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.paragraph-18 {
  margin-top: 60px;
}

.image-20 {
  margin-top: 220px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.slider-4 {
  margin-top: 350px;
}

.paragraph-19 {
  margin-top: 178px;
}

.slide-6 {
  background-image: url('../images/me.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image-21 {
  margin-top: 40px;
}

.paragraph-20 {
  margin-top: 0px;
}

.column-4 {
  margin-top: 100px;
}

.heading-20 {
  margin-bottom: 0px;
  font-family: Inconsolata, monospace;
  font-size: 50px;
  line-height: 60px;
}

.heading-21 {
  margin-bottom: 60px;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  text-align: center;
}

.container-5 {
  margin-top: 140px;
}

.image-22 {
  margin-left: 260px;
}

.image-23 {
  margin-top: 20px;
}

.image-24 {
  margin-top: 60px;
}

.image-25 {
  margin-top: 100px;
}

.image-26 {
  margin-top: 20px;
  margin-left: 35px;
}

.image-27 {
  margin-top: 100px;
}

.button-9 {
  position: static;
  clear: none;
}

.button-10 {
  text-align: left;
}

.button-11 {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 18px;
  text-align: left;
}

.button-12 {
  margin-top: 40px;
  margin-left: 180px;
  border-radius: 9px;
}

.body-2 {
  margin-left: 0px;
  padding-left: 0px;
}

.image-28 {
  margin-top: 100px;
  margin-left: 20px;
}

.button-13 {
  margin-top: 60px;
  border-radius: 9px;
  font-size: 18px;
}

.heading-22 {
  font-size: 36px;
}

.paragraph-21 {
  margin-top: 40px;
}

.brand {
  background-image: url('../images/Logo-Two.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.navbar {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  background-color: #fff;
}

.image-29 {
  margin-top: 10px;
}

.nav-link-2 {
  color: #000;
}

.nav-link-2.w--current {
  color: #000;
}

.image-13-copy {
  margin-top: 20px;
  border: 1px solid #000;
}

.image-14-copy {
  border: 1px solid #000;
}

html.w-mod-js *[data-ix="tile-1"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-2"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-3"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-4"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

/* Footer */
.align {
 text-align: center;
}


footer ul {
 display: flex;
 justify-content: space-between;
 width: 50%;
 margin-top: 50px;
}

.footernote {
 font-size: 32px;
 margin-top: 100px;
 text-decoration: none;
 font-family: Lato, sans-serif;
 color: black;
}

.footernotetwo {
 font-size: 24px;
 line-height: 34px;
 margin-top: 25px;
 margin-bottom: 75px;
 text-decoration: none;
 font-family: Lato, sans-serif;
 color: black;
}

.socialicons {
  margin: auto;
  font-size: 0;
  color: #474143;
}

.socialicons li:hover {
 color: grey;
}

footer {
  padding-bottom: 40px;
}

.socialicons a i {
color: black;
font-size: 45px;
}


@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-section {
    padding-top: 88px;
  }
  .hero-section.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }
  .nav {
    padding-top: 10px;
  }
  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .nav-link.footer-link {
    margin-top: 9px;
  }
  .section.top-section {
    padding-bottom: 0px;
  }
  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #55acee;
  }
  .nav-menu {
    background-color: #242424;
  }
  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .form-wrapper {
    width: 70%;
  }
  .project-text {
    width: 90%;
  }
  .blog-block {
    padding: 4px;
  }
  .blog-image-wrapper {
    height: 170px;
    margin-bottom: 10px;
  }
  .hero {
    max-width: 100%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .cards-section {
    margin-right: 20px;
  }
  .cards-grid-container {
    grid-column-gap: 20px;
  }
  .slider {
    max-width: 600px;
    min-width: 100px;
  }
  .container-2 {
    max-width: 80%;
  }
  .container-3 {
    max-width: 80%;
  }
  .image-5 {
    margin-left: 60px;
  }
  .image-8 {
    margin-left: 60px;
  }
  .cards-grid-container-2 {
    grid-column-gap: 20px;
  }
  .image-13 {
    margin-top: 0px;
  }
  .list-2 {
    margin-bottom: 80px;
  }
  .div-block-8 {
    max-width: 111%;
  }
  .button-8 {
    margin-bottom: 100px;
  }
  .button-12 {
    margin-left: 100px;
  }
  .image-13-copy {
    margin-top: 60px;
  }
  .image-14-copy {
    margin-top: -40px;
  }

  iframe {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .hero-section {
    padding-bottom: 25px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 70px;
  }
  .hero-section.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }
  .logo-text {
    margin-bottom: 19px;
  }
  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
  .nav-link.footer-link {
    float: none;
  }
  .nav-link.footer-link.contact {
    float: none;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.top-section.home-page {
    padding-right: 5px;
    padding-left: 5px;
  }
  .hero-container {
    top: auto;
    padding: 5px 0px;
  }
  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }
  .social-block {
    background-size: 40px;
  }
  .social-block.facebook {
    background-size: 40px;
  }
  .social-block.pinterest {
    background-size: 40px;
  }
  .social-block.dribbble {
    background-size: 40px;
  }
  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .footer-link-col {
    text-align: center;
  }
  .form-wrapper {
    width: 80%;
  }
  .project-title {
    font-size: 25px;
    line-height: 28px;
  }
  .project-link.blog-link {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .project-text {
    width: 100%;
  }
  .blog-post-wrapper {
    padding-top: 0px;
  }
  .author-wrapper {
    width: 90%;
    margin-bottom: 39px;
  }
  .hero {
    padding: 40px 20px;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .contact-form {
    padding: 40px 20px;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .call-to-action {
    padding: 40px 20px;
  }
  .image-7 {
    margin-left: 60px;
  }
  .image-8 {
    margin-left: 0px;
  }
  .image-9 {
    margin-left: 0px;
  }
  .image-12 {
    margin-left: 50px;
  }
  .cards-section-2 {
    padding: 40px 20px;
  }
  .cards-grid-container-2 {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .list-2 {
    margin-bottom: 40px;
  }
  .heading-12 {
    margin-top: 100px;
  }
  .paragraph-14 {
    width: 600px;
    max-width: 100%;
  }
  .image-15 {
    margin-left: 20px;
  }
  .image-16 {
    margin-top: 40px;
    margin-left: 20px;
  }
  .section-3 {
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .previous-column {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .next-column {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .feature-image-mask {
    margin-right: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
  }
  .call-to-action-2 {
    padding: 40px 20px;
  }
  .image-19 {
    padding-left: 0px;
  }
  .hero-overlay-2 {
    padding: 40px 20px;
  }
  .button-12 {
    margin-left: 220px;
  }
  .image-28 {
    margin-left: 0px;
  }
  .image-29 {
    margin-left: 20px;
  }
  .div-block-12 {
    margin-top: 100px;
  }
  .column-5 {
    margin-top: 40px;
  }

  iframe {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }
  .hero-section.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-section.portfolio-hero {
    padding: 80px 20px 40px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 60px;
  }
  .hero-section.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo-text {
    font-size: 26px;
  }
  .nav-link.footer-link {
    display: block;
    font-size: 13px;
  }
  .nav-link.footer-link.contact {
    padding: 9px;
    font-size: 13px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  ._60block {
    width: 100%;
  }
  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  ._40block {
    width: 100%;
  }
  ._33block {
    width: 100%;
  }
  .menu-button {
    color: #5e9dce;
  }
  .nav-menu {
    color: #444141;
  }
  .close-link:hover {
    color: #fff;
  }
  .form-wrapper {
    width: 90%;
  }
  .cta-heading {
    font-size: 28px;
  }
  .project-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-title {
    left: 15px;
    bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .project-tag {
    right: 18px;
  }
  .project-link.blog-link {
    margin-bottom: 15px;
  }
  .blog-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blog-details {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .author-wrapper {
    width: 100%;
  }
  .home-page-heading {
    font-size: 45px;
    line-height: 50px;
  }
  .hero-image {
    margin-left: 20px;
  }
  .paragraph {
    min-width: 50px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .div-block-4 {
    max-width: 100%;
  }
  .centered-container {
    text-align: left;
  }
  .cards-grid-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .button-4 {
    margin-left: 110px;
  }
  .slider {
    max-height: 300px;
    min-height: 200px;
  }
  .container-2 {
    max-width: 90%;
  }
  .image-5 {
    margin-left: 10px;
  }
  .image-7 {
    margin-left: 0px;
  }
  .image-8 {
    margin-left: 10px;
  }
  .cards-grid-container-2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .heading-12 {
    margin-top: 60px;
  }
  .image-15 {
    margin-left: 50px;
  }
  .image-16 {
    margin-left: 50px;
  }
  .heading-13 {
    font-size: 26px;
  }
  .footer-logo {
    margin-bottom: 8px;
    text-align: center;
  }
  .social-footer-wrap {
    text-align: center;
  }
  .footer-social-link {
    margin-right: 7px;
    margin-left: 7px;
  }
  .previous-column {
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ededed;
    border-right-width: 0px;
    text-align: left;
  }
  .next-column {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading-17 {
    text-shadow: none;
  }
  .paragraph-16 {
    margin-bottom: 60px;
    font-size: 36px;
    text-align: left;
  }
  ._33block-2 {
    width: 100%;
  }
  ._40block-2 {
    width: 100%;
  }
  ._60block-2 {
    width: 100%;
  }
  .button-8 {
    position: relative;
    margin-bottom: 60px;
    margin-left: 125px;
    opacity: 1;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
    color: #fff;
    text-align: left;
  }
  .centered-container-2 {
    text-align: left;
  }
  .heading-21 {
    margin-top: 0px;
  }
  .container-5 {
    margin-top: 40px;
  }
  .button-12 {
    margin-left: 135px;
    margin-bottom: 80px;
  }
  .icon {
    color: #070707;
  }
  .image-29 {
    margin-left: 20px;
    padding-left: 0px;
  }
  .heading-23 {
    margin-bottom: 10px;
  }
  .image-13-copy {
    margin-top: 10px;
  }
  .heading-24 {
    margin-top: 60px;
  }

  iframe {
    width: 300px;
    height: 300px;
  }

 .footernote {
  font-size: 32px;
  margin-top: 25px;
  text-decoration: none;
  font-family: Lusitana;
 }

 .footernotetwo {
  font-size: 24px;
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 75px;
  text-decoration: none;
  font-family: Raleway;
 }

 .socialicons  {
   margin: auto;
   width:80%;
   text-align: center;
   margin-left: 20px;
}
}

@media screen and (max-width: 767px) {
  #w-node-aa1626aa6557-cb9971c1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6559-cb9971c1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa655e-cb9971c1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6560-cb9971c1 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
  #w-node-aa1626aa6557-249685c3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6559-249685c3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa655e-249685c3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6560-249685c3 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-aa1626aa654d-cb9971c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6554-cb9971c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa655b-cb9971c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa654d-249685c3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa6554-249685c3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
  #w-node-aa1626aa655b-249685c3 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}
